

<div class="hero-section">
    <h1>Terry</h1>
    <img class="fondo" src="/johncena.jpg" alt="">
</div>

<style>

    .hero-section {
        position: relative;
        overflow: hidden;
        padding: 200px 60px;
    }

    h1 {
        font-size: 64px;
        font-weight: 700;
        color: #fff;

    }

    .fondo {
        position: absolute;
        z-index: -100;
        top: -0%;
        left: 0;

        width: 100%;
    }
</style>