<header>
    <nav>
        <p>Logo</p>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Tienda</a></li>
            <li><a href="/contact">Contáctanos</a></li>
        </ul>
    </nav>
</header>

<style>
    ul {
        display: flex;
        gap: 16px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 12px 60px;
    }
</style>
