---
// Aquí adentro va el Código TypeScript o JavaScript

---

<!-- Esto es HTML -->
<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>DesCalzado</title>
	</head>

	<body>
    <header>
      <nav>
        <a href="/">Inicio</a>
        <a href="/about-us">Sobre Nosotros</a>
        <a href="/shop">Tenda</a>
        <a href="/collections">Colecciones</a>
      </nav>
    </header>

		

		<!-- La vamos a dejar así -->
		<slot />
		<!-- En esta parte se agrega el contenido dinamico -->

		Aquí va el footer

	</body>
</html>
