---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro"
import '../styles/global.css'

// Aquí adentro va el Código TypeScript o JavaScript

---

<!-- Esto es HTML -->
<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />


		<Navbar />

		<!-- La vamos a dejar así -->
		<slot />
		<!-- En esta parte se agrega el contenido dinamico -->
		
		<Footer />
	</body>
</html>
